@import url(/src/css/reset.css);

/***
**
*
when creating break point or a media query
use the following

@media (min-width: 640px) {...} - for small screens (mobile)
@media (min-width: 768px) {...} - for medium screens (Tablet)
@media (min-width: 1024px) {...} - for large screens (Desktop)

 */

 /* navbar */
nav {
   margin-bottom: var(--sm-spacing);
}
.nav-navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: var(--md-spacing);
   padding-bottom: var(--md-spacing);
}


/* ************ */