@import url(/src/css/reset.css);

/***
**
*
when creating break point or a media query
use the following

@media (min-width: 640px) {...} - for small screens (mobile)
@media (min-width: 768px) {...} - for medium screens (Tablet)
@media (min-width: 1024px) {...} - for large screens (Desktop)

 */


/* page reset */
.span-max {
   max-width: var(--span-width);
   margin: auto;
}

.mid-padding{
   padding-left: var(--md-spacing);
   padding-right: var(--md-spacing);
}

.in-flex {
   display: flex;
   align-items: center;
}

/* ************ */

/* navbar */
.nav-navbar{
   display: flex;
   justify-content: space-between;
}

/* ************ */